<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.mapper.CommentMapper">

	<resultMap type="CommentVo" id="commentVoMap">
		<result column="c_id" property="c_id" />
		<result column="c_content" property="c_content" />
		<result column="c_time" property="c_time" />
		<result column="c_del" property="c_del" />
		<result column="c_read" property="c_read" />
		<result column="c_floor" property="c_floor" />
		<result column="b_id" property="b_id" />
		<result column="u_id" property="u_id" />
		<result column="u_name" property="u_name" />
	</resultMap>
	<resultMap type="SubCommentVo" id="subCommentVoMap">
		<result column="s_id" property="s_id" />
		<result column="s_content" property="s_content" />
		<result column="s_time" property="s_time" />
		<result column="s_del" property="s_del" />
		<result column="s_read" property="s_read" />
		<result column="s_floor" property="s_floor" />
		<result column="c_id" property="c_id" />
		<result column="u_id" property="u_id" />
		<result column="u_name" property="u_name" />
	</resultMap>
	<select id="getBlogCommentsByBid" parameterType="int" resultMap="commentVoMap">
		SELECT c.*,u.u_name FROM comments c,user u WHERE u.u_id = c.u_id AND
		c.b_id = #{b_id} ORDER BY c.c_time
	</select>

	<select id="getSubCommentsByCid" parameterType="int" resultMap="subCommentVoMap">
		SELECT s.*,u.u_name FROM sub_comments s,user u WHERE c_id = #{c_id}
		AND s.u_id=u.u_id ORDER BY s.s_time
	</select>
	<select id="getMaxBlogFloor" parameterType="int" resultType="int">
		SELECT MAX(c_floor) FROM comments WHERE b_id = #{b_id}
	</select>
	<select id="getMaxSubFloor" parameterType="int" resultType="int">
		SELECT MAX(s_floor) FROM sub_comments WHERE c_id = #{c_id}
	</select>
	<insert id="addBlogComment" parameterType="Comment">
		<selectKey keyColumn="c_id" order="AFTER" resultType="java.lang.Integer"
			keyProperty="c_id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO comments VALUES(
		NULL,#{c_content},NOW(),0,0,#{c_floor},#{b_id},#{u_id})
	</insert>
	<insert id="addSubComment" parameterType="SubComment">
		<selectKey keyColumn="s_id" order="AFTER" resultType="java.lang.Integer"
			keyProperty="s_id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO sub_comments VALUES(
		NULL,NOW(),0,0,#{s_floor},#{c_id},#{u_id},#{s_content})
	</insert>
	<select id="getCommentByCid" parameterType="int" resultMap="commentVoMap">
		SELECT c.*,u.u_name FROM comments c ,user u WHERE c_id = #{new_c_id}
		AND u.u_id = c.u_id
	</select>
	<select id="getSubCommentBySid" parameterType="int" resultMap="subCommentVoMap">
		SELECT s.*,u.u_name FROM sub_comments s ,user u WHERE s_id =
		#{new_s_id} AND u.u_id = s.u_id
	</select>

	<delete id="deleteComment" parameterType="int">
		DELETE FROM comments
		WHERE c_id = #{c_id};
	</delete>
	<delete id="deleteSubComment" parameterType="int">
		DELETE FROM sub_comments
		WHERE s_id = #{s_id};
	</delete>
</mapper>